<html class="{{_theme}}">

<head>
    <link rel="preload" href="https://felt.com/fonts/AtlasGrotesk-Regular-Cy-Web.woff2" as="font" type="font/woff2"
        crossorigin>
    <link rel="stylesheet" type="text/css" href="https://felt.com/fonts/fonts.css">
    <link rel="stylesheet" type="text/css" href="https://felt.com/css/root.css">
    <link rel="stylesheet" type="text/css" href="https://felt.com/css/html-popup.css">
    <style>
        .tooltip-img-container {
            position: relative;
            width: 300px;
        }

        .candidate-img-container {
            position: relative;
            width: 280px;
        }

        .tooltip-img {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }

        .candidate-img {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }

        .img-placeholder {
            height: 100%;
            background-color: black;
            color: white;
            padding: 10px;
        }

        .tooltip-data {
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 20px;
        }

        .img-overlay {
            position: absolute;
            bottom: 10px;
            width: 100%;
            backdrop-filter: blur(10px);
            background-color: rgba(83, 80, 80, 0.5);
            display: flex;
            flex-direction: column;
            font-weight: 900;
            color: white;
        }

        .add-1,
        .add-2 {
            padding-left: 15px;
        }

        table {
            width: 100%;
            font-size: 10px;
        }

        table tr td {
            padding: 5px;
        }

        table tr td:nth-child(odd) {
            width: 40%;
        }

        table tr td:nth-child(even) {
            width: 60%;
            text-align: right;
        }

        table tr:nth-child(odd) {
            background: #f2f2f2;
        }

        .bg-gray {
            background: #f2f2f2;
        }

        h3 {
            border-bottom: solid #048188;
            margin-bottom: 0;
        }

        .last-updated {
            font-size: 10px;
            margin-bottom: 10px;
        }

        .disclaimer {
            font-size: 10px;
            font-style: italic;
        }

        .dem {
            background-color: blue;
            color: white;
        }

        .repub {
            background-color: red;
            color: white;
        }
    </style>
</head>

<body>
    <div class="tooltip-img-container">
        {% if current_commissioner_photo_url and current_commissioner_photo_url != "N/A" %}
        <img class="tooltip-img" src="{{current_commissioner_photo_url | escape}}"
            alt="{{ current_commissioner | escape }}">
        {% else %}
        <div class="img-placeholder">No image available</div>
        {% endif %}
        <div class="img-overlay">
            <div class="add-1">
                {{label | escape}}
            </div>
            <div class="add-2">
                Current: {{current_commissioner | escape}}
            </div>
        </div>
    </div>
    <div class="tooltip-data">
        <div class="last-updated">Last updated: June 25, 2026</div>
        <span class="disclaimer">Candidates' names pulled from <a target="_blank"
                href="https://www.commercialappeal.com/story/news/politics/elections/2026/05/06/shelby-county-primary-election-winners/89861098007/">Commercial
                Appeal</a></span>
        <div class="disclaimer">Please email kelsey@innovatememphis.com for updates.</div>
        <h3>2026 Candidates</h3>
        {% if district == 1 %}
        <section>
            <span class="disclaimer">2 candidates listed in alphabetical order by last name</span>
            <div class="candidate-img-container">
                <img class="candidate-img"
                    src="https://github.com/Innovate-Memphis/Shelby_Co_Commission_Map/blob/main/candidate_images/SadeBradley.jpg?raw=true">
                <div class="img-overlay">
                    <div class="add-1">
                        Sade Nicole Bradley
                    </div>
                </div>
            </div>
            <span class="disclaimer">Image obtained through Facebook</span>
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>Sade Nicole Bradley</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td class="dem">Democrat</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href="mailto:votesade1@gmail.com">votesade1@gmail.com</a></td>
                    </tr>
                    <tr>
                        <td>Ballotpedia</td>
                        <td><a href="https://ballotpedia.org/Sade_Bradley" target="_blank">View here</a></td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td><a href="https://votesadebradley.com/" target="_blank">votesadebradley.com</a></td>
                    </tr>
                    <tr>
                        <td>Social Media</td>
                        <td>
                            <a href="https://www.facebook.com/people/Sade-Bradley/61584641063860/"
                                target="_blank">Facebook</a>
                            <a href="https://www.linkedin.com/in/sade-%E2%80%8B-bradley-bsol-mis-411983b9/"
                                target="_blank">LinkedIn</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="candidate-img-container">
                <img class="candidate-img"
                    src="https://github.com/Innovate-Memphis/Shelby_Co_Commission_Map/blob/main/candidate_images/RhondaODell.jpg?raw=true">
                <div class="img-overlay">
                    <div class="add-1">
                        Rhonda O'Dell
                    </div>
                </div>
            </div>
            <span class="disclaimer">Image obtained through Facebook</span>
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>Rhonda O'Dell</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td class="repub">Republican</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href="mailto:Electrhondaodell@gmail.com">Electrhondaodell@gmail.com</a></td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>901-444-1633</td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td><a href="https://www.electrhondaodell.com/" target="_blank">electrhondaodell.com</a></td>
                    </tr>
                    <tr>
                        <td>Ballotpedia</td>
                        <td><a href="https://ballotpedia.org/Rhonda_O'Dell" target="_blank">View here</a></td>
                    </tr>
                    <tr>
                        <td>Social Media</td>
                        <td><a href="https://www.facebook.com/people/Elect-Rhonda-ODell/61583445427473/"
                                target="_blank">Facebook</a></td>
                    </tr>
                </tbody>
            </table>
        </section>
        {% elsif district == 2 %}
        <section>
            <span class="disclaimer">1 candidate running uncontested</span>
            <div class="candidate-img-container">
                <img class="candidate-img"
                    src="https://github.com/Innovate-Memphis/Shelby_Co_Commission_Map/blob/main/candidate_images/DerekMills.jpg?raw=true">
                <div class="img-overlay">
                    <div class="add-1">
                        Derek Mills
                    </div>
                </div>
            </div>
            <span class="disclaimer">Image obtained through Facebook</span>
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>Derek Mills</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td class="repub">Republican</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href="mailto:MillsForDistrict2@gmail.com">MillsForDistrict2@gmail.com</a></td>
                    </tr>
                    <tr>
                        <td>Ballotpedia</td>
                        <td><a href="https://ballotpedia.org/Derek_Mills" target="_blank">View here</a></td>
                    </tr>
                    <tr>
                        <td>Social Media</td>
                        <td>
                            <a href="https://www.facebook.com/p/Derek-Mills-for-Shelby-County-Commissioner-District-2-61575705476162/"
                                target="_blank">Facebook</a>
                            <a href="https://www.instagram.com/millsfordistrict2/" target="_blank">Instagram</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        {% elsif district == 3 %}
        <section>
            <span class="disclaimer">2 candidates listed in alphabetical order by last name</span>
            <div class="candidate-img-container">
                <img class="candidate-img"
                    src="https://github.com/Innovate-Memphis/Shelby_Co_Commission_Map/blob/main/candidate_images/MicheleDial.jpg?raw=true">
                <div class="img-overlay">
                    <div class="add-1">
                        Michele Dial
                    </div>
                </div>
            </div>
            <span class="disclaimer">Image obtained through Facebook</span>
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>Michele Dial</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td class="repub">Republican</td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td><a href="https://www.dial4shelby3.com" target="_blank">dial4shelby3.com</a></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href="mailto:dial4shelby3@mail.com">dial4shelby3@mail.com</a></td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>(901) 487-8130</td>
                    </tr>
                    <tr>
                        <td>Ballotpedia</td>
                        <td><a href="https://ballotpedia.org/Michele_Dial" target="_blank">View here</a></td>
                    </tr>
                    <tr>
                        <td>Social Media</td>
                        <td>
                            <a href="https://www.facebook.com/people/Michele-Dial-Candidate-for-Shelby-County-Commission-Position-3/61582619340587/"
                                target="_blank">Facebook</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="candidate-img-container">
                <img class="candidate-img"
                    src="https://ryanramkhelawan.com/_assets/media/47905e1aa17fbe9e53a2273c563f5f41.jpg">
                <div class="img-overlay">
                    <div class="add-1">
                        Ryan Ramkhelawan
                    </div>
                </div>
            </div>
            <span class="disclaimer">Image obtained through campaign website</span>
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>Ryan Ramkhelawan</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td class="dem">Democrat</td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td><a href="https://ryanramkhelawan.com/" target="_blank">ryanramkhelawan.com</a></td>
                    </tr>
                    <tr>
                        <td>Ballotpedia</td>
                        <td><a href="https://ballotpedia.org/Ryan_Ramkhelawan" target="_blank">View here</a></td>
                    </tr>
                </tbody>
            </table>
        </section>
        {% elsif district == 4 %}
        <section>
            <span class="disclaimer">1 candidate running uncontested</span>
            <div class="candidate-img-container">
                <img class="candidate-img"
                    src="https://github.com/Innovate-Memphis/Shelby_Co_Commission_Map/blob/main/candidate_images/MarkBillingsley.jpg?raw=true">
                <div class="img-overlay">
                    <div class="add-1">
                        Mark Billingsley
                    </div>
                </div>
            </div>
            <span class="disclaimer">Image obtained through Facebook</span>
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>Mark Billingsley</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td class="repub">Republican</td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td><a href="https://billingsleyforshelby.com/" target="_blank">billingsleyforshelby.com</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Ballotpedia</td>
                        <td><a href="https://ballotpedia.org/Mark_Billingsley" target="_blank">View here</a></td>
                    </tr>
                    <tr>
                        <td>Social Media</td>
                        <td>
                            <a href="https://www.facebook.com/p/Mark-Billingsley-for-Shelby-County-Commission-Position-4-100057957376832/"
                                target="_blank">Facebook</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        {% elsif district == 5 %}
        <section>
            <span class="disclaimer">1 candidate running uncontested</span>
            <div class="candidate-img-container">
                <img class="candidate-img"
                    src="https://github.com/Innovate-Memphis/Shelby_Co_Commission_Map/blob/main/candidate_images/ShanteAvant.jpg?raw=true">
                <div class="img-overlay">
                    <div class="add-1">
                        Shante Avant
                    </div>
                </div>
            </div>
            <span class="disclaimer">Image obtained through Facebook</span>
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>Shante Avant, incumbent</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td class="dem">Democrat</td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td><a href="https://www.voteavant.com/" target="_blank">voteavant.com</a></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href="mailto:voteavant5@gmail.com">voteavant5@gmail.com</a></td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>(901) 219-7204</td>
                    </tr>
                    <tr>
                        <td>Ballotpedia</td>
                        <td><a href="https://ballotpedia.org/Shante_Avant" target="_blank">View here</a></td>
                    </tr>
                    <tr>
                        <td>Social Media</td>
                        <td>
                            <a href="https://www.facebook.com/avant5countycommission/" target="_blank">Facebook</a>
                            <a href="https://www.instagram.com/shantek14/" target="_blank">Instagram</a>
                            <a href="https://x.com/ShanteAvant" target="_blank">Twitter</a>
                            <a href="https://www.linkedin.com/in/shanteavant/">LinkedIn</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        {% elsif district == 6 %}
        <section>
            <span class="disclaimer">1 candidate running uncontested</span>
            <div class="candidate-img-container">
                <img class="candidate-img"
                    src="https://github.com/Innovate-Memphis/Shelby_Co_Commission_Map/blob/main/candidate_images/CharlieCaswell.jpg?raw=true">
                <div class="img-overlay">
                    <div class="add-1">
                        Charlie Caswell
                    </div>
                </div>
            </div>
            <span class="disclaimer">Image obtained through Facebook</span>
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>Charlie Caswell, incumbent</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td class="dem">Democrat</td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td><a href="https://charliecaswelljr.com/" target="_blank">charliecaswelljr.com</a></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href="mailto:electcharliecaswelljr@gmail.com">electcharliecaswelljr@gmail.com</a></td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>(901) 325-1732</td>
                    </tr>
                    <tr>
                        <td>Ballotpedia</td>
                        <td><a href="https://ballotpedia.org/Charlie_Caswell_Jr." target="_blank">View here</a></td>
                    </tr>
                    <tr>
                        <td>Social Media</td>
                        <td>
                            <a href="https://www.facebook.com/charliecaswelljr/" target="_blank">Facebook</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        {% elsif district == 7 %}
        <section>
            <span class="disclaimer">2 candidates listed in alphabetical order by last name</span>
            <div class="candidate-img-container">
                <img class="candidate-img"
                    src="https://www.shelbycountytn.gov/ImageRepository/Document?documentID=40503">
                <div class="img-overlay">
                    <div class="add-1">
                        Henri Brooks
                    </div>
                </div>
            </div>
            <span class="disclaimer">Image obtained through Shelby County website</span>
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>Henri Brooks, incumbent</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td class="dem">Democrat</td>
                    </tr>
                    <tr>
                        <td>Ballotpedia</td>
                        <td><a href="https://ballotpedia.org/Henri_Brooks" target="_blank">View here</a></td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td>
                            <a href="https://henriebrooks.com/" target="_blank">View here</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Social Media</td>
                        <td>
                            <a href="https://x.com/youthrights2" target="_blank">Twitter</a>
                            <a href="https://www.linkedin.com/in/henri-e-brooks-91571285/" target="_blank">LinkedIn</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="candidate-img-container">
                <img class="candidate-img"
                    src="https://github.com/Innovate-Memphis/Shelby_Co_Commission_Map/blob/main/candidate_images/GeraldGreen.jpg?raw=true">
                <div class="img-overlay">
                    <div class="add-1">
                        Gerald Green
                    </div>
                </div>
            </div>
            <span class="disclaimer">Image obtained through Facebook</span>
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>Gerald Green</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td class="repub">Republican</td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td><a href="https://www.electgeraldgreen.com/">View here</a></td>
                    </tr>
                    <tr>
                        <td>Ballotpedia</td>
                        <td><a href="https://ballotpedia.org/Gerald_Green_(Tennessee)" target="_blank">View here</a></td>
                    </tr>
                    <tr>
                        <td>Social Media</td>
                        <td>
                            <a href="https://www.facebook.com/gerald.green.14289/" target="_blank">Facebook</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        {% elsif district == 8 %}
        <section>
            <span class="disclaimer">2 candidates listed in alphabetical order by last name</span>
            <div class="candidate-img-container">
                <img class="candidate-img"
                    src="https://github.com/Innovate-Memphis/Shelby_Co_Commission_Map/blob/main/candidate_images/EdmoniqueMurphy.jpg?raw=true">
                <div class="img-overlay">
                    <div class="add-1">
                        E. J. Murphy
                    </div>
                </div>
            </div>
            <span class="disclaimer">Image obtained through Facebook</span>
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>E. J. Murphy</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td class="repub">Republican</td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td><a href="https://www.edmonique.com/our-campaign"
                                target="_blank">www.edmonique.com/our-campaign</a></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href="mailto:contact@edmonique.com">contact@edmonique.com</a></td>
                    </tr>
                    <tr>
                        <td>Ballotpedia</td>
                        <td><a href="https://ballotpedia.org/E.J._Murphy" target="_blank">View here</a></td>
                    </tr>
                    <tr>
                        <td>Social Media</td>
                        <td>
                            <a href="https://www.facebook.com/people/Edmonique-Murphy/61582338969860/"
                                target="_blank">Facebook</a>
                            <a href="https://www.instagram.com/elect.murphy/" target="_blank">Instagram</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="candidate-img-container">
                <img class="candidate-img" src="https://thewilltolead.com/wp-content/uploads/2025/07/will_the_man.png">
                <div class="img-overlay">
                    <div class="add-1">
                        Will Richardson
                    </div>
                </div>
            </div>
            <span class="disclaimer">Image obtained through website</span>
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>Will Richardson</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td class="dem">Democrat</td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td><a href="https://thewilltolead.com/" target="_blank">thewilltolead.com</a></td>
                    </tr>
                    <tr>
                        <td>Ballotpedia</td>
                        <td><a href="https://ballotpedia.org/Will_Richardson" target="_blank">View here</a></td>
                    </tr>
                    <tr>
                        <td>Social Media</td>
                        <td>
                            <a href="https://www.facebook.com/globalunderdog/" target="_blank">Facebook</a>
                            <a href="https://www.instagram.com/iamwillrichardson/" target="_blank">Instagram</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        {% elsif district == 9 %}
        <section>
            <span class="disclaimer">1 candidate running uncontested</span>
            <div class="candidate-img-container">
                <img class="candidate-img"
                    src="https://github.com/Innovate-Memphis/Shelby_Co_Commission_Map/blob/main/candidate_images/Streeter.jpg?raw=true">
                <div class="img-overlay">
                    <div class="add-1">
                        Karen Streeter
                    </div>
                </div>
            </div>
            <span class="disclaimer">Image obtained through Facebook</span>
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>Karen Streeter</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td class="dem">Democrat</td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td><a href="https://www.streeter4district9.com/" target="_blank">votesadebradley.com</a></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href="mailto:kstreeter5@aol.com">kstreeter5@aol.com</a></td>
                    </tr>
                    <tr>
                        <td>Ballotpedia</td>
                        <td><a href="https://ballotpedia.org/Karen_Streeter" target="_blank">View here</a></td>
                    </tr>
                    <tr>
                        <td>Social Media</td>
                        <td>
                            <a href="https://www.facebook.com/kay.streeter.75/" target="_blank">Facebook</a>
                            <a href="https://www.tiktok.com/@drkay5ks" target="_blank">Tik Tok</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        {% elsif district == 10 %}
        <section>
            <span class="disclaimer">1 candidate running uncontested</span>
            <div class="candidate-img-container">
                <img class="candidate-img"
                    src="https://github.com/Innovate-Memphis/Shelby_Co_Commission_Map/blob/main/candidate_images/LashantaRudd.jpg?raw=true">
                <div class="img-overlay">
                    <div class="add-1">
                        Lashanta Rudd
                    </div>
                </div>
            </div>
            <span class="disclaimer">Image obtained through Facebook</span>
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>Lashanta Rudd
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td class="dem">Democrat</td>
                    </tr>
                    <tr>
                        <td>Ballotpedia</td>
                        <td><a href="https://ballotpedia.org/Lashanta_Rudd" target="_blank">View here</a></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href="mailto:votelashantarudd10@gmail.com">votelashantarudd10@gmail.com</a></td>
                    </tr>
                    <tr>
                        <td>Social Media</td>
                        <td>
                            <a href="https://www.facebook.com/lashanta.rudd.2025/" target="_blank">Facebook</a>
                            <a href="https://www.linkedin.com/in/lashanta-rudd-16958761/" target="_blank">LinkedIn</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        {% elsif district == 11 %}
        <section>
            <span class="disclaimer">The incumbent is running uncontested</span>
        </section>
        {% elsif district == 12 %}
        <section>
            <span class="disclaimer">2 candidates listed in alphabetical order by last name</span>
            <div class="candidate-img-container">
                <img class="candidate-img"
                    src="https://content.campaignpartner.net/images/150200/copy_7607B7D1-6B22-43C1-A0EC-CBD46F0616DD.png">
                <div class="img-overlay">
                    <div class="add-1">
                        Andrea Bell
                    </div>
                </div>
            </div>
            <span class="disclaimer">Image obtained through website</span>
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>Andrea Bell</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td>Independent</td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td><a href="https://www.voteandreabell.com/" target="_blank">voteandreabell.com</a></td>
                    </tr>
                    <tr>
                        <td>Ballotpedia</td>
                        <td><a href="https://ballotpedia.org/Andrea_Bell" target="_blank">View here</a></td>
                    </tr>
                    <tr>
                        <td>Social Media</td>
                        <td>
                            <a href="https://www.facebook.com/people/Friends-for-Andrea-Bell-Campaign/61585466914612/"
                                target="_blank">Facebook</a>
                            <a href="https://www.linkedin.com/in/andrea-bell-mba-8529615"
                                target="_blank">LinkedIn</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="candidate-img-container">
                <img class="candidate-img"
                    src="https://github.com/Innovate-Memphis/Shelby_Co_Commission_Map/blob/main/candidate_images/Sugarmon.jpg?raw=true">
                <div class="img-overlay">
                    <div class="add-1">
                        Erika Sugarmon
                    </div>
                </div>
            </div>
            <span class="disclaimer">Image obtained through Facebook</span>
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>Erika Sugarmon, incumbent</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td class="dem">Democrat</td>
                    </tr>
                    <tr>
                        <td>Ballotpedia</td>
                        <td><a href="https://ballotpedia.org/Erika_Sugarmon" target="_blank">View here</a></td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td><a href="https://erikasugarmon.net/" target="_blank">erikasugarmon.net</a></td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>(901) 222-1000</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href="mailto:Erika.sugarmon@shelbycountytn.gov">Erika.sugarmon@shelbycountytn.gov</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Social Media</td>
                        <td>
                            <a href="https://www.facebook.com/commissionererikasugarmon/" target="_blank">Facebook</a>
                            <a href="https://www.instagram.com/erikasugarmon/" target="_blank">Instagram</a>
                            <a href="https://www.linkedin.com/in/erikasugarmon/" target="_blank">LinkedIn</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        {% elsif district == 13 %}
        <section>
            <span class="disclaimer">2 candidates listed in alphabetical order by last name</span>
            <div class="candidate-img-container">
                <img class="candidate-img"
                    src="https://github.com/Innovate-Memphis/Shelby_Co_Commission_Map/blob/main/candidate_images/EdApple.jpg?raw=true">
                <div class="img-overlay">
                    <div class="add-1">
                        Ed Apple
                    </div>
                </div>
            </div>
            <span class="disclaimer">Image obtained through LinkedIn</span>
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>Ed Apple</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td class="repub">Republican</td>
                    </tr>
                    <tr>
                        <td>Ballotpedia</td>
                        <td><a href="https://ballotpedia.org/Ed_Apple" target="_blank">View here</a></td>
                    </tr>
                    <tr>
                        <td>Social Media</td>
                        <td>
                            <a href="https://www.linkedin.com/in/ed-apple-8032691a2/" target="_blank">LinkedIn</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="candidate-img-container">
                <img class="candidate-img"
                    src="https://github.com/Innovate-Memphis/Shelby_Co_Commission_Map/blob/main/candidate_images/AmberHuettGarcia.jpg?raw=true">
                <div class="img-overlay">
                    <div class="add-1">
                        Amber Huett-Garcia
                    </div>
                </div>
            </div>
            <span class="disclaimer">Image obtained through Facebook</span>
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>Amber Huett-Garcia</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td class="dem">Democrat</td>
                    </tr>
                    <tr>
                        <td>Ballotpedia</td>
                        <td><a href="https://ballotpedia.org/Amber_Huett-Garcia" target="_blank">View here</a></td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td><a href="https://www.amberhuettgarcia.com/" target="_blank">amberhuettgarcia.com</a></td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>901-646-0564</td>
                    </tr>
                    <tr>
                        <td>Social Media</td>
                        <td>
                            <a href="https://www.facebook.com/amberhuettgarcia" target="_blank">Facebook</a>
                            <a href="https://www.instagram.com/obesitycareadvocate/" target="_blank">Instagram</a>
                            <a href="https://x.com/amberhuett" target="_blank">Twitter</a>
                            <a href="https://www.linkedin.com/in/amberhuett/" target="_blank">LinkedIn</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        {% endif %}
    </div>
</body>

</html>